<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="AgroDBEntities" connectionString="metadata=res://*/Model.AgroDBModel.csdl|res://*/Model.AgroDBModel.ssdl|res://*/Model.AgroDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN7VM-PC\MSSQLAGRO;initial catalog=AgroDB;persist security info=True;user id=sa;password=99463782;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AgroDBEntities1" connectionString="metadata=res://*/AgroDBModel.csdl|res://*/AgroDBModel.ssdl|res://*/AgroDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN7VM-PC\MSSQLAGRO;initial catalog=AgroDB;persist security info=True;user id=sa;password=99463782;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>